<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataShow</title>
    <!-- 引入 ECharts 文件 -->
    <script src="js/echarts.min.js"></script>

</head>

<body>
<div id="hname" style="background-color:#666FFF;">
    <h1 style="margin-bottom:0;text-align:center;">数据分析结果展示</h1>
</div>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="bar" style="margin-top: 50px;margin-left:50px;width: 600px;height: 400px;float:left;"></div>
<div id="pie" style="margin-top: 50px;width: 600px;height: 400px;float:left;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myBar = echarts.init(document.getElementById('bar'));//main是<div id="main" style="width: 600px;height:400px;"></div>的id
    var myPie = echarts.init(document.getElementById("pie"));
    // 指定图表的配置项和数据
    var barOption = {
        title: {
            text: '我的小胖胖体重'
        },
        tooltip: {},
        legend: {
            data:['爱称']
        },
        xAxis: {
            data: ["小胖子","小胖仔","小屁屁","小肥肥","小胖墩子","pumpy"]
        },
        yAxis: {},
        series: [{
            name: '体重（斤）',
            type: 'bar',
            data: [100, 99, 50, 101, 102, 51],
            itemStyle: {
                normal: {
                    label: {
                        show: true,		//开启显示
                        position: 'top',	//在上方显示
                        textStyle: {	    //数值样式
                            color: 'black',
                            fontSize: 16
                        }
                    }
                }
            }
        }]
    };

    var pieOption = {
        title: {
            text: '饼图主题'
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',    // 设置图表类型为饼图
                radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                data:[          // 数据数组，name 为数据项名称，value 为数据项值
                    {value:235, name:'视频广告'},
                    {value:274, name:'联盟广告'},
                    {value:310, name:'邮件营销'},
                    {value:335, name:'直接访问'},
                    {value:400, name:'搜索引擎'}
                ],
                itemStyle:{
                    normal:{
                        label:{
                            show: true,
                            formatter: '{b} : {c} ({d}%)'
                        },
                        labelLine :{show: true}
                    }
                }
            }
        ]
    }

    // 使用刚指定的配置项和数据显示图表。
    myBar.setOption(barOption);
    myPie.setOption(pieOption)


</script>


</body>
</html>